In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import sqlite3

In [16]:
con = sqlite3.connect('csv_database.db')

In [40]:
df_fromstation_count = pd.read_sql_query('''
                        SELECT from_station_name, COUNT(from_station_name)
                        FROM data
                        GROUP BY from_station_name''', con)

In [42]:
df_fromstation_count.tail(5)

                from_station_name  COUNT(from_station_name)
651           Wood St & Taylor St                     19127
652        Woodlawn Ave & 55th St                      8759
653        Woodlawn Ave & 75th St                        15
654  Woodlawn Ave & Lake Park Ave                      1929
655          Yates Blvd & 75th St                       189